body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(195, 195, 195, 1);
  color: #333;
  /* Dark grey text for better readability */
  padding-right: calc(100vw - 100%);
  overflow-x: hidden;

}

/* RTL Support */
[dir='rtl'] body {
  text-align: right;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  /* Make scrollbar thinner */
}

::-webkit-scrollbar-track {
  background: rgba(195, 195, 195, 1);
  /* Match the body background color */
}

::-webkit-scrollbar-thumb {
  background-color: #373737;
  /* A complementary grey color */
  border-radius: 10px;
  /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
  /* Darker grey on hover */
}